# see https://pelios.csx.cam.ac.uk/~mc321/siesta.html
- name: Install siesta dependencies
  become: true
  apt:
    name:
    - gfortran
    - openmpi-common
    - openmpi-bin
    - libopenmpi-dev
    - libblacs-mpi-dev
    - libnetcdf-dev
    - netcdf-bin
    - libnetcdff-dev
    - libscalapack-mpi-dev
    - libblas-dev
    - liblapack-dev
    - unzip
    - fftw3

# Compile and install xmlf90
- include: xmlf90.yml
# Compile and install libpsml
- include: libpsml.yml
# Compile and install libgridxc
- include: gridxc-multi.yml

- name: Get siesta source
  get_url:
    url: "{{ siesta_url }}"
    dest: "{{ siesta_code_folder }}/{{ siesta_src_archive }}"
  register: siesta_download

- name: Extract siesta source
  unarchive:
    src: "{{ siesta_download.dest }}"
    dest: "{{ siesta_code_folder }}"
    remote_src: true

- name: create Makefile
  shell: ../Src/obj_setup.sh
  args:
    chdir: "{{ siesta_topdir }}/Obj"
    creates: "{{ siesta_topdir }}/Obj/Makefile"

- name: copy arch.make
  template:
    src: full_options.make
    dest: "{{ siesta_topdir }}/Obj/arch.make"

- name: Make siesta executables
  shell: "make"
  args:
    chdir: "{{ siesta_topdir }}/Obj"
    creates: "{{ siesta_topdir }}/Obj/siesta"
  register: siesta_make

- import_tasks: tests.yml
  when: siesta_make.changed and run_tests is defined and run_tests

- name: Install siesta executable
  become: true
  copy:
    src: "{{ siesta_topdir }}/Obj/siesta"
    dest: "{{ siesta_prefix }}/bin"
    remote_src: true
    mode: '0755'
  register: siesta_install

- name: Add release notes (version)
  include_role:
    name: release_notes
  vars:
    section: "siesta"
    option: "version"
    value: "{{ siesta_version }}"
  when: release_notes is defined and release_notes

- name: Add release notes (usage)
  include_role:
    name: release_notes
  vars:
    section: "siesta"
    option: "usage"
    value: >-
      siesta is compiled and installed in {{ siesta_prefix }}.
      Simply run 'siesta' or any of its utilites:
         mprop
         fat
         gnubands
         eigfat2plot
  when: release_notes is defined and release_notes

# Process utilities
- include_tasks: siesta-utils.yml
  vars:
    prog: "{{ item }}"
  with_items: "{{ siesta_utils }}"
  tags: siesta_utilites

# Pseudopotentials
- name: Add pseudopotentials
  include_tasks: pps.yml
  vars:
    pp: "{{ item }}"
  with_items: "{{ siesta_pps }}"
  tags: siesta_pps
